
/* Esercizio 1  */
.ex-1-square:hover{
    background-color: red;
    transition: all .8s;
    cursor: pointer;
}

/* esercizio 2 */


.ex-2-square:active{
    cursor: pointer;
    width: 100%;
    transition: 3s ease;
}

/* esercizio 3  */
.ex-3-square:hover{
    border-radius: 50%;
    cursor: pointer;
    transition: all .8s ease;
}
