
/* Esercizio 1  */
.ex-1-square{
    transition: all .8s;
    cursor: pointer;
}
.ex-1-square:hover{
    background-color: red;
}

/* esercizio 2 */


.ex-2-square{
    cursor: pointer;
    transition: all 3s;
}
.ex-2-square:active{
    width: 100%;
}

/* esercizio 3  */
.ex-3-square{
    transition: all .8s ease;
    cursor: pointer;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* esercizio 4 */
.ex-4-square{
    cursor: pointer;
    transition: all 2s ease-out;
}

.ex-4-square:hover{
    background-color: rgba(0, 0, 0, 0);
}

/* esercizio 5 */
.ex-5-square{
    cursor: pointer;
    transition: all 2s ease;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 10px;
    height: 10px;
}

/* esercizio 6 */
.ex-6-img{
    cursor: pointer;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

/* esercizio 7 */
.ex-7-img{
    cursor: pointer;
    transition: all 2s ease;
}

.ex-7-img:hover{
    filter: grayscale(5) contrast(1);
}

/* esercizio 8 */
.ex-8-img{
    cursor: pointer;
    transition: all 2s ease;
}

.ex-8-img:hover{
    filter: sepia(.5) grayscale(.5);
    border-radius: 40px;
}

/* esercizio 9 */
.ex-9-img{
    cursor: pointer;
    transition: all 2s ease;
}

.ex-9-img:hover{
    filter: sepia(.5) grayscale(.1);
    border-radius: 40px;
    transform: scale(1.5);
}

/* esercizio 10 */
.ex-10-icon {
    /* animation-name: spin;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite; */

    animation: spin 2s linear infinite;
}


@keyframes spin{
   0% {
    transform: rotate(0deg);
   } 
   100%{
    transform: rotate(360deg);
   }
}


 /* esercizio 11 */
 .ex-11-icon{
    cursor: pointer;
 }

 .ex-11-icon:hover{
    animation: spin-1 2s linear;
 }

 @keyframes spin-1{
    0% {
        transform: rotate(0deg);
       } 

       80%{
        transform: rotate(320deg);
       }
       100%{
        transform: rotate(0deg);
       }
 }

 